.idea
build*/
!scripts/3-build/
!scripts/3-build/**
data/
!data/

deps/
!deps/
deps/gunrock/
deps/ligra/
deps/xb/
data/bfs/
data/src_nodes/
data/gunrock/
data/gunrock_w/
data/ligra/
data/ligra_w/
data/ligra_hyper_w/
data/xb/
tmp/

scripts/results*

results/
